<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimVoiceChecklists.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <SimVoiceChecklists.Properties.Settings>
            <setting name="ChecklistFilename" serializeAs="String">
                <value>C:\Dev\SimVoiceChecklist\SimVoiceChecklist\A2A C172.checklist</value>
            </setting>
            <setting name="ConfidenceThreshold" serializeAs="String">
                <value>97</value>
            </setting>
            <setting name="CultureInfo" serializeAs="String">
                <value>en-GB</value>
            </setting>
            <setting name="AudioPath" serializeAs="String">
                <value>C:\Temp\Checklist audio files</value>
            </setting>
        </SimVoiceChecklists.Properties.Settings>
    </userSettings>
</configuration>
